<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img class="img-fluid" src="https://static.zara.net/photos///contents/mkt/spots/ss23-north-man-new/subhome-xmedia-16//w/1920/IMAGE-landscape-fill-42c6ea09-bd64-48f7-bc81-511e960810ee-default_0.jpg?ts=1681747962418" alt="">

      <!--            <div class="container">-->
      <!--                <div class="row p-5">-->
      <!--                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">-->
      <!--                        <img class="img-fluid" src="https://static.zara.net/photos///contents/mkt/spots/ss23-north-man-special-occasion/subhome-xmedia-15//w/1920/IMAGE-landscape-fill-6543d8fa-0e92-4dad-868c-e4970a1b7a35-default_0.jpg?ts=1681381789421" alt="">-->
      <!--                    </div>-->
      <!--                    <div class="col-lg-6 mb-0 d-flex align-items-center">-->
      <!--                        <div class="text-align-left align-self-center">-->
      <!--                            <h1 class="h1 text-success"><b>STAN SMITH LUX</b></h1>-->
      <!--                            <h3 class="h2">Một thiết kế vượt thời gian</h3>-->
      <!--                            <p>-->
      <!--                                Kể từ khi ra mắt trên sân quần vợt cách đây 50 năm, Adidas Stan Smith-->
      <!--                                đã trở thành một mặt hàng chủ lực trên toàn thế giới. Phiên bản này là-->
      <!--                                một bản sao chính xác của giày sneaker da mang tính biểu tượng.-->
      <!--                                Chất lượng tốt và thiết kế vượt thời gian phù hợp với mọi phong cách.-->
      <!--                                Tất cả các chi tiết chữ ký, từ 3 Sọc đục lỗ đến logo và nhãn Stan Smith, đều được giữ-->
      <!--                                nguyên.-->
      <!--                            </p>-->
      <!--                        </div>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--            </div>-->
    </div>
    <div class="carousel-item">

      <img class="img-fluid" src="https://static.zara.net/photos///contents/mkt/spots/ss23-north-man-special-occasion/subhome-xmedia-15//w/1920/IMAGE-landscape-fill-6543d8fa-0e92-4dad-868c-e4970a1b7a35-default_0.jpg?ts=1681381789421" alt="">

    </div>
    <div class="carousel-item">

<!--      <div class="row p-5">-->
<!--        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">-->
<!--          <img class="img-fluid" src="https://www.dior.com/couture/var/dior/storage/images/40064717/6-eng-GB/visuel4.jpg?imwidth=1024" alt="">-->
<!--        </div>-->
<!--        <div class="col-lg-6 mb-0 d-flex ">-->
<!--                                  <div class="text-align-left align-self-center">-->
<!--                                      <h1 class="h1 text-success"><b>ADIZERO AVANTI TYO BLACK PANTHER 2.0</b></h1>-->
<!--                                      <h3 class="h2">Gai chạy đường dài được làm một phần từ vật liệu tái chế.-->
<!--                                      </h3>-->
<!--                                      <p>-->
<!--                                          Cảm nhận sức mạnh và khả năng chịu đựng của Black Panther của Marvel trong các cuộc thi-->
<!--                                          và sự kiện từ trung bình đến dài. Đôi giày chạy bộ adidas này được thiết kế để giúp bạn-->
<!--                                          chạy bền lâu hơn với đệm Lightstrike Pro và bọt 3 lớp đàn hồi để có một bước chạy tràn-->
<!--                                          đầy năng lượng. ENERGY RODS, sử dụng vật liệu carbon, góp phần giảm trọng lượng và có độ-->
<!--                                          cứng cao đồng thời tạo ra lực đẩy nảy giúp người chạy không bỏ cuộc cho đến vòng cuối-->
<!--                                          cùng.-->
<!--                                      </p>-->
<!--                                  </div>-->
<!--          <img class="img-fluid" src="https://www.dior.com/couture/var/dior/storage/images/horizon/fashion/mens-fashion/man/dior-by-mystery-ranch-grid/visuel/39685915-3-fre-FR/visuel.jpg?imwidth=1024" alt="">-->
<!--        </div>-->
<!--      </div>-->
      <img class="img-fluid" src="https://static.zara.net/photos///contents/mkt/spots/ss23-north-man-commuter/subhome-xmedia-16//w/1920/IMAGE-landscape-fill-7a40da9f-597a-4eea-923a-29fad02f64bb-default_0.jpg?ts=1682061777825" alt="">

    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
     role="button" data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
     role="button" data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>




<!-- Start Content -->
<div style="margin-left: 50px; margin-right: 50px" class=" py-5">
  <div class="row">

<!--    <div class="col-lg-3">-->
<!--      <h1 class="h2 pb-4">Phân Loại</h1>-->
<!--      <ul class="list-unstyled templatemo-accordion">-->
<!--        <li class="pb-3">-->
<!--          <a class="collapsed d-flex justify-content-between h3 text-decoration-none mb-4" href="#">-->
<!--            Tất Cả-->
<!--          </a>-->
<!--          <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">-->
<!--            Thương Hiệu-->
<!--            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>-->
<!--          </a>-->
<!--          <ul class="collapse show list-unstyled pl-3">-->
<!--            <li><a class="text-decoration-none" href="#">Nike</a></li>-->
<!--            <li><a class="text-decoration-none" href="#">Adidas</a></li>-->
<!--            <li><a class="text-decoration-none" href="#">H<sub>&</sub>M</a></li>-->
<!--            <li><a class="text-decoration-none" href="#">Levis</a></li>-->

<!--          </ul>-->
<!--        </li>-->
<!--        <li class="pb-3">-->
<!--          <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">-->
<!--            Giảm Giá-->
<!--            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>-->
<!--          </a>-->
<!--          <ul id="collapseTwo" class="collapse list-unstyled pl-3">-->
<!--            <li><a class="text-decoration-none" href="#">5%</a></li>-->
<!--            <li><a class="text-decoration-none" href="#">10%</a></li>-->
<!--            <li><a class="text-decoration-none" href="#">15%</a></li>-->
<!--            <li><a class="text-decoration-none" href="#">20%</a></li>-->
<!--            <li><a class="text-decoration-none" href="#">50%</a></li>-->


<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <div class="col-lg-12">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12 pb-4 d-flex">-->
<!--          <input type="text" style="width: 50%" class="form-control mx-3" placeholder="Bạn muốn tìm gì?...">-->
<!--          <select class="form-control me-3" style="width: 30%">-->
<!--            <option>Mức Giá</option>-->
<!--            <option>Nhỏ Hơn 1 Triệu</option>-->
<!--            <option>Nhỏ Hơn 5 Triệu</option>-->
<!--            <option>Tất Cả</option>-->
<!--          </select>-->

<!--          <button type="submit" class="btn btn-outline-success" style="font-weight: bold">Tìm Kiếm</button>-->
<!--        </div>-->

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="https://media.dior.com/couture/ecommerce/media/catalog/product/U/2/1676454321_293M832AT396_C686_E11_GH.jpg?imwidth=460" style="height: 300px">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="shop-single.html"><i
                    class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" routerLink="product-detail" href="shop-single.html"><i
                    class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="shop-single.html" class="h4 text-decoration-none">DIOR OBLIQUE POLO SHIRT</a>
              <p style=" font-family: cursive">Khaki Cotton Jacquard</p>

              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center ">2.500.000 vnđ</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="https://www.dior.com/couture/var/dior/storage/images/pushs-editos/folder-summer-23-men/013c121b5797c888/39488815-1-eng-GB/013c121b5797c888_1440_1200.jpg?imwidth=640" style="height: 300px">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="shop-single.html"><i
                    class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="shop-single.html" class="h3 text-decoration-none">CD DIAMOND SHIRT</a>
              <p style=" font-family: cursive">Khaki Cotton Jacquard</p>

              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">3.500.000 VNĐ</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="https://www.dior.com/couture/var/dior/storage/images/39047139/4-eng-GB/dior-x-erl-capsule-push-cross-link3_1440_1200.png?imwidth=640" style="height: 300px">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="shop-single.html"><i
                    class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="shop-single.html" class="h3 text-decoration-none">DIOR BY ERL SWEATER</a>
              <p style=" font-family: cursive">Pink Wool and Cashmere Jersey</p>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">4.500.000 VNĐ</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/grid_image_11/460x497/17f82f742ffe127f42dca9de82fb58b1/5/9/1666870851_043D584L5707_C585_E11_GH.jpg" style="height: 300px">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="shop-single.html"><i
                    class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="shop-single.html" class="h3 text-decoration-none">CD DIAMOND T-SHIRT</a>
              <p style=" font-family: cursive">Navy Blue Cotton Jersey</p>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">3.000.000 VNĐ</p>
            </div>
          </div>
        </div>

      </div>

    </div>

<!--  </div>-->
<!--</div>-->

<!--<div>-->
<!--    <video controls muted autoplay loop width="100%" height="" >-->
<!--      <source src="https://lv-vod.fl.freecaster.net/vod/louisvuitton/ehRNicYmuW_HD.mp4">-->
<!--    </video>-->


<!--</div>-->


<div>
<div class="carousel-inner">
  <div class="carousel-item active">
    <div >
      <div class="row p-5" style="margin-right: 45px">
        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
          <img class="img-fluid" src="https://www.dior.com/couture/var/dior/storage/images/horizon/fashion/mens-fashion/man/b31-grid/vsuel/39685357-2-fre-FR/vsuel.jpg?imwidth=1024" alt="">
        </div>
        <div class="col-lg-6 mb-0 d-flex align-items-center">
          <div class="text-align-left align-self-center">
          <p style="text-align: center">MỚI</p>
            <h3 style="text-align: center" class="h3 "><b>B31 SNEAKERS</b></h3>
<!--            <h3 class="h2">Một thiết kế vượt thời gian</h3>-->
            <p style="text-align: center">
              Giữa sự sang trọng và kỹ thuật, giày thể thao B31 tái hiện lại những nguyên tắc cơ bản mang tính biểu tượng của Ngôi nhà với sự hiện đại.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div style="margin-top: -95px; ">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div >
          <div class="row p-5">
            <div class="mx-auto col-md-8 col-lg-6 order-lg-last d-flex align-items-center">
              <div class="text-align-left align-self-center">
                <p style="text-align: center">MỚI</p>
                <h3 style="text-align: center" class="h3 "><b>DIOR GALLOP</b></h3>
                <p style="text-align: center">
                  Biểu tượng của phong cách Dior, những sáng tạo của Dior Gallop dành cho nam giới hoàn thiện mọi kiểu dáng với một chút táo bạo.
                </p>
              </div>
            </div>
            <div class="col-lg-6 mb-0 d-flex ">

              <img  class="img-fluid" src="https://www.dior.com/couture/var/dior/storage/images/40064717/6-eng-GB/visuel4.jpg?imwidth=1024" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: -95px">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div >
          <div class="row p-5" style="margin-right: 45px">
            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
              <img class="img-fluid" src="https://www.dior.com/couture/var/dior/storage/images/horizon/fashion/mens-fashion/man/dior-by-mystery-ranch-grid/visuel/39685915-3-fre-FR/visuel.jpg?imwidth=1024 " alt="">
            </div>
            <div class="col-lg-6 mb-0 d-flex align-items-center">
              <div class="text-align-left align-self-center">
                <p style="text-align: center">MỚI</p>
                <h3 style="text-align: center" class="h3 "><b>DIOR BY MYSTERY RANCH</b></h3>
                <p style="text-align: center">
              Những người sáng tạo nam tính được ước mơ với sự cộng tác của Mystery Ranch làm nổi bật sự say mê với một chút sang trọng bổ sung, trong khi vẫn chắc chắn về chức năng.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="bg-light py-5">
  <div class="container my-4">
    <div class="row text-center py-3">
      <div class="col-lg-10 m-auto">

                    <h3 style="font-family: cursive; color: darkgray" class="h2">   "Chất lượng sẽ được ghi nhớ rất lâu sau khi giá cả bị lãng quên"</h3>
<p style="text-align: right; color: darkgray">-Gucci-</p>

      </div>
      <div class="col-lg-9 m-auto tempaltemo-carousel">
        <div class="row d-flex flex-row">
          <!--Controls-->
          <div class="col-1 align-self-center">
            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
              <i class="text-light fas fa-chevron-left"></i>
            </a>
          </div>
          <!--End Controls-->

          <!--Carousel Wrapper-->
          <div class="col">
            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                 data-bs-ride="carousel">
              <!--Slides-->
              <div class="carousel-inner product-links-wap" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c3395949047677.58a9ce2eb466d.jpg"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                       alt="Brand Logo"></a>
                    </div>
                  </div>
                </div>
                <!--End First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                       alt="Brand Logo"></a>
                    </div>
                  </div>
                </div>
                <!--End Second slide-->

                <!--Third slide-->
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                       alt="Brand Logo"></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                       alt="Brand Logo"></a>
                    </div>
                  </div>
                </div>
                <!--End Third slide-->

              </div>
              <!--End Slides-->
            </div>
          </div>
          <!--End Carousel Wrapper-->

          <!--Controls-->
          <div class="col-1 align-self-center">
            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
              <i class="text-light fas fa-chevron-right"></i>
            </a>
          </div>
          <!--End Controls-->
        </div>
      </div>
    </div>
  </div>
</section>

</div>
